@font-face {
    font-family: roman-antique;
    src: url(./fonts/RomanAntique.ttf) format('truetype');
}

@font-face {
    font-family: roman-antique-italic;
    src: url(./fonts/RomanAntique-Italic.ttf) format('truetype');
}

@font-face {
    font-family: marola;
    src: url(./fonts/Marola.ttf) format('truetype');
}

@font-face {
    font-family: lower-resolution;
    src: url(./fonts/LowerResolution.ttf) format('truetype');
}

/* LENIS CSS */

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped {
    overflow: hidden;
}
.lenis.lenis-smooth iframe {
    pointer-events: none;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: roman-antique;
    background-color: #181818;
}

html {
    scroll-behavior: smooth;
}

/* cursor */
#cursor {
    display: none; 
    pointer-events: none; 
    position: fixed; 
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid #ababab;
    background-color: #262626;
    transform: translate(-50%, -50%); 
    transform-origin: top left;
    z-index: 10;
    transition: scale 0.1s;
}
.pressable {
    scale: 1.3;
    background-color: #3b3b3b !important;
    border-radius: 6px !important;
    width: 12px !important;
}

.click {
    scale: 0.8;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* CORE ANIMATIONS */

@keyframes slideUp{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slideUp{
    animation: slideUp 0.7s ease forwards;
}

@keyframes slideAway{
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.slideAway{
    animation: slideAway 0.7s ease;
}



/* LANDING SCREEN */

#landingScreen{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 600px;

    --s: 190px; /* control the size*/
    --c1: #262626;
    --c2: #181818;
    
    --_g: #0000 90deg,var(--c1) 0;
    
    background: 
        conic-gradient(from 90deg at 2px 2px,var(--_g)),
        conic-gradient(from 90deg at 1px 1px,var(--_g)),
        var(--c2);

    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

    border-bottom: 2px solid #262626;
}

#landingName{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animatedName{
    color: #ababab;
    font-size: 95px;
    font-family: marola;
    transform: translateY(15px);
}

#landingGraphic{
    width: 40%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landingGraphic > canvas{
    width: 90%;
}

#arrowDown{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    /* transform: translateX(-50%); */
    width: 50px;
    height: 50px;
    opacity: 0;
    filter: invert(72%) sepia(0%) saturate(1022%) hue-rotate(142deg) brightness(97%) contrast(84%);
    animation: fadeIn 1s ease 3s forwards, bounce 2s 4s infinite;
}

@media (max-width: 1300px) {

    .animatedName {
        font-size: 80px;
    }
}

@media (max-width: 1120px) {

    .animatedName {
        font-size: 62px;
    }
}

@media (max-width: 900px) {

    #landingScreen{
        flex-direction: column;
        justify-content: space-around;
    }

    #landingName{
        width: 100%;
    }

    #landingGraphic{
        width: 55%;
    }

    #landingGraphic > canvas{
        width: 100%;
    }

}

@media (max-width: 550px){

    #landingName{
        margin-top: 90px;
    }

    .animatedName {
        font-size: 40px;
    }

    #landingGraphic{
        width: 75%;
    }
}

@keyframes floatUpDown {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-16px);
    }
    60% {
        transform: translateY(-8px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleBounceRight{
    0% {
        transform: scale(1) rotate(-90deg);
        
    }
    50% {
        transform: scale(1.2) rotate(-90deg);
    }
    100% {
        transform: scale(1) rotate(-90deg);
    }
}

@keyframes scaleBounceLeft{
    0% {
        transform: scale(1) rotate(90deg);
    }
    50% {
        transform: scale(1.2) rotate(90deg);
    }
    100% {
        transform: scale(1) rotate(90deg);
    }
}

@keyframes slideOffRight{
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideOffLeft{
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideOffRight{
    animation: slideOffRight 0.7s;
}

.slideOffLeft{
    animation: slideOffLeft 0.7s;
}

.slideInFromRight{
    animation: slideInFromRight 0.7s;
}

.slideInFromLeft{
    animation: slideInFromLeft 0.7s;
}

/* HEADER */

header{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2px);
    height: 100px;
    border-bottom: 1px solid #ababab;
    background-color: #181818;
}


header > h1{
    color: #ababab;
    border-right: 1px solid #ababab;
    font-family: marola;
    text-align: center;
    font-size: 40px;
    height: 100%;
    padding: 0 50px;
}

/* WID  */

#whatIdo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    height: 100vh;
    
    --s: 100px;
    --c1: #262626;
    --c2: #181818;
    
    --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
    background: 
     radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
     radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
     radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
     radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
     var(--c2);
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);

    border-bottom: 2px solid #262626;

}

#widContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(50% - 5%);
    height: 100%;
    padding-left: 5%;
}

#widGraphic{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#widContainer > h1, .changingText{
    color: #ababab;
    height: auto;
    display: inline;
    font-family: roman-antique;
    font-size: 60px;
    text-align: center;
}

@media (max-width: 1250px) {

    #widContainer > h1, .changingText {
        font-size: 40px;
    }
}

@media (max-width: 900px) {

    #whatIdo{
        flex-direction: column;
    }

    #widGraphic{
        height: 50%;
    }

    #widContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    #widContainer > h1, .changingText {
        font-size: 30px;
    }

}

/* PROJECTS CSS */

#projects{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100%;

    --s: 25px; 
    --c1: #262626;
    --c2: #181818;
    
    --l1:#0000  48%,var(--c1) 0 52%,#0000 0;
    --l2:#0000 1.3%,var(--c2) 0 32%,#0000 0;
    background:
      linear-gradient(-45deg,var(--l2)),
      linear-gradient( 45deg,var(--l1)),
      linear-gradient( 45deg,var(--l2)) calc(var(--s)/2) calc(var(--s)/2),
      linear-gradient(-45deg,var(--l1)) var(--c2);
    background-size: calc(2*var(--s)) var(--s),var(--s) var(--s);

    border-bottom: 2px solid #262626;
}

#projectsHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projectsHeader > h3{
    color: #ababab;
    font-family: roman-antique;
    font-size: 55px;
    padding-top: 20px;
    padding-left: 5%;
}

#projectsHeaderEqualiser{
    width: 151px;
    padding-right: 20px;
}

#projectsOptionsAndDots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100%);
}

#projectsOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: calc(100%);
}

.projectOption{
    border: 2px solid #ababab;
    border-radius: 12px;
    background-color: #181818;
    color: #ababab;
    padding: 6px 12px;
    height: 22px;
    font-size: 20px;
    margin-left: 5px;
    transition: 0.2s;
}

#projectsDots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: calc(100%);
}

.projectDot{
    width: 10px;
    height: 10px;
    border-radius: 12px;
    background-color: #3b3b3b;
    border: 1px solid #ababab;
    margin: 0 6px;
}

.projectDotActive{
    background-color: #ababab;
}

.selectedProjectOption{
    background-color: #2f2f2f;
    border-radius: 16px;
}

.projectOption:hover{
    background-color: #262626;
}

#projectsCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    /* border: 1px solid #ababab; */
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}



.project{
    width: 75%;
    height: 94%;
    border: 2px solid #ababab;
    border-radius: 12px;
    background-color: #181818;
    max-width: 950px;

    /* -webkit-box-shadow:0px 0px 25px 0px rgba(171,171,171,0.36);
    -moz-box-shadow: 0px 0px 25px 0px rgba(171,171,171,0.36);
    box-shadow: 0px 0px 25px 0px rgba(171,171,171,0.36); */

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #ababab;
}

.projectLeft, .projectRight{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectTitle{
    font-size: 34px;
    text-align: center;
    padding-left: 7%;
}

.projectDescription{
    font-size: 18px;
    width: 70%;
    padding: 0 7%;
    margin-top: 40px;
}

.projectLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.githubLink, .websiteLink{
    aspect-ratio: 1/1;
    width: 32px;
    margin: 0 20px;
}

.githubLink > img, .websiteLink > img{
    width: 100%;
    aspect-ratio: 1/1;
    transition: 0.2s;
}


.githubLink:hover > img, .websiteLink:hover > img{
    filter: invert(72%) sepia(0%) saturate(1022%) hue-rotate(142deg) brightness(97%) contrast(84%);
}

.projectImage{
    width: 310px;
    aspect-ratio: 16/13;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 0px 55px 0px rgba(171,171,171,0.39);

}

.projectDate{
    font-size: 20px;
    margin-top: 10px;
}

.projectImage > img{
    width: 100%;
    position: absolute;
    /* transition: 0.001s; */
}

#arrowLeft, #arrowRight{
    width: 64px;
    filter: invert(72%) sepia(0%) saturate(1022%) hue-rotate(142deg) brightness(97%) contrast(84%);
    transition: 0.2s;
}

#arrowLeft{
    transform: rotate(90deg);
}

#arrowRight{
    transform: rotate(-90deg);
}

#arrowLeft:hover{
    animation: scaleBounceLeft 2s ease-in-out infinite;
}

#arrowRight:hover{
    animation: scaleBounceRight 2s ease-in-out infinite;
}

@media (max-width: 980px) {

    .projectTitle{
        font-size: 30px;
        padding-left: 4%;
    }

    .projectDescription{
        font-size: 15px;
        width: 82%;
        padding: 0 4%;
        margin-top: 30px;
    }

    .projectLinks{
        margin-top: 30px;
    }

    .githubLink, .websiteLink{
        aspect-ratio: 1/1;
        width: 24px;
        margin: 0 20px;
    }

    .projectImage{
        width: 235px;
        box-shadow: 0px 0px 35px 0px rgba(171,171,171,0.39);
    }

}

@media (max-width: 730px){

    .project{
        width: 80%;
        height: calc(94% - 40px);
        padding: 20px 0;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .projectLeft, .projectRight{
        width: 100%;
    }

    .projectLeft{
        height: 65%;
    }

    .projectRight{
        height: 25%;
        margin-top: 30px;
    }

    .projectTitle{
        width: 90%;
    }

    .projectDescription{
        padding: 0;
        margin-top: 25px;
    }

    .projectImage{
        width: 235px;
        box-shadow: 0px 0px 20px 0px rgba(171,171,171,0.39);
    }

    .projectOption{
        font-size: 14px;
        height: auto;
    }
}

@media (max-width: 540px){

    .projectTitle{
        font-size: 22px;
        width: 90%;
    }

    .projectDescription{
        font-size: 13px;
        width: 90%;
        margin-top: 20px;
    }

    .projectLinks{
        margin-top: 20px;
    }

    .githubLink, .websiteLink{
        aspect-ratio: 1/1;
        width: 22px;
        margin: 0 20px;
    }

    #arrowLeft, #arrowRight{
        width: 48px;
    }
}

/* ABOUT ME SECTION */

#aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;

    --s: 35px; /* control the size*/
    --c1: #181818;
    --c2: #262626;

    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
    background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c1);
}

#aboutMeHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#aboutMeHeader > h3{
    color: #ababab;
    font-family: roman-antique;
    font-size: 55px;
    width: calc(100% - 5%);
    padding-top: 20px;
    padding-left: 5%;
}

#aboutMeContent{
    padding-left: 5%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ababab;
    font-size: 24px;
    width: calc(100% - 5%);
}

#aboutMeContent > p{
    max-width: 600px;
}

#aboutMeContent > :first-child {
    margin-bottom: 25px;
}

#contactLinks{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ababab;
    width: calc(100% - 5%);
    padding-left: 5%;
}

.contactRow{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ababab;
    font-size: 24px;
}

.contactRow > p, .contactLink{
    color: #ababab;
    font-size: 24px;
    margin-top: 10px;
}

#contactLinks > p{
    font-size: 20px;
    margin-top: 5px;
}

.contactLink{
    text-decoration: underline;
}

.contactLink:hover{
    color: rgb(211, 211, 211);
}

@media (max-width: 450px){

    #aboutMeHeader > h3{
        font-size: 40px;
    }

    #aboutMeContent{
        font-size: 18px;
    }

    .contactRow{
        font-size: 18px;
    }

    .contactRow > p, .contactLink{
        font-size: 18px;
    }

    #contactLinks > p{
        font-size: 14px;
    }

    #contactLinks{
        width: calc(100% - 10%);
        padding: 0 5%;
    }

    #aboutMeContent{
        width: calc(100% - 10%);
        padding: 0 5%;
    }
    
}

/* for slide up animation */

.slideUpOnView{
    opacity: 0;
}