/* BASE DECLARATIONS */

@font-face {
  font-family: Ruzack;
  src: url(./fonts/Ruzack.otf) format("opentype");
}

:root{
  --background1: #F2E9DC;
  --background2: #91C499;
  --border2: #6f9775;
  --text1: #808F85;
  --text2: #595959;
  --highlight: #CFD11A;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

body{
  /* background-color: var(--background1); */
  background: repeating-linear-gradient(
    -45deg,
    #F2E9DC,
    #F2E9DC 10px,
    #f2e9dcee 10px,
    #f2e9dcee 20px
  );
}

#spacer{
  width: 100%;
  height: 200px;
}

/* TOP-LEFT HEADER RULES */

header{
  font-family: Ruzack;
  background: var(--highlight);
  clip-path: none;
  font-size: 35px;
  width: 200px;
  text-align: center;
  padding: 20px 25px 40px 0;
  clip-path: polygon(0 0, 100% 0%, 90% 35%, 90% 70%, 70% 90%, 35% 90%, 0% 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#headerOutline{
  position: fixed;
  top: 0;
  left: 0;
  width: 228px;
  height: 146px;
  clip-path: polygon(0 0, 100% 0%, 90% 35%, 90% 70%, 70% 90%, 35% 90%, 0% 100%);
  z-index: -1;
  background-color: black;
}

/* INTRO */

#shortIntro{
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#shortIntro > p{
  text-align: center;
  width: 45%;
  font-size: 22px;
  max-width: 492px;
}

#smile{
  height: 165px;
  transform: rotate(12deg);
}

/* EXPERIENCE */

#experienceArea{
  width: 100%;
}

#experienceArea > h2{
  font-family: Ruzack;
  font-size: 45px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#areasOfExperience{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px; 
}

#areasOfExperience > h2{
  padding-right: 28%;
}

#bubbleContainer{
  aspect-ratio: 2/1;
  width: 62%;
}

#languages{
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

#languages > h2{
  margin-bottom: 50px;
  padding-left: 200px;
}

#langCarousel{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.carouselDirection{
  aspect-ratio: 1;
  width: 40px;
  transition: transform 0.2s;
}

#leftArrow{
  transform: rotate(180deg);
}

.carouselDirection:hover{
  cursor: pointer;
  transform: scale(1.1);
}

#leftArrow:hover{
  transform: rotate(180deg) scale(1.1);
}


.langInfo{
  width: calc(80% - 40px);
  max-width: calc(400px - 40px);
  margin: 0 20px;
  border-radius: 8px;
  border: 2px solid var(--border2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background2);
  color: var(--text);
  padding: 20px;
}

.langInfo > h3{
  margin-bottom: 20px;
  font-size: 25px;
}

.langInfo > p{
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.langInfo > h4{
  align-self: flex-start;
  font-size: 16px;
  margin-bottom: 8px;
}

.libraryList{
  align-self: flex-start;
  padding-left: 20px;
}

/* -----------
  SVG BLOBS 
-------------*/

.blobChildRight, .blobChildLeft{
  width: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  z-index: -2;
}

.blobChildRight{
  justify-content: flex-end;
}

.blobChildLeft{
  justify-content: flex-start;
}

.rightBlob, .leftBlob{
  position: relative;
  aspect-ratio: 1;
  height: 750px;
}

.rightBlob{
  left: 375px;
}

.leftBlob{
  right: 375px;
}

/* specific blobs */

#topCornerBlob{
  top: -375px;
}

#leftSecondBlob{
  top: 475px;
  right: 25px;
}

#rightSecondBlob{
  top: 1120px;
}

#rightSecondBlob > .rightBlob{
  left: calc(375px + 40px);
  transform: rotate(7deg);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 970px){

  #languages{
    padding-left: 8%;
  }

}